%h1 Console
%hr

.row
  .col-md-6
    %a{:href => '/stors'}
      .well.text-center
        %p STOR
        %p Simple 3D Object Repository
  .col-md-6
    %a{:href => '/stoms'}
      .well.text-center
        %p STOM
        %p Simple 3D Object Modeler